@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* $easeInOutQuart: cubic-bezier(0.77, 0.2, 0.05, 1); */
/* $easeInBack: cubic-bezier(0.785, 0.135, 0.15, 0.86); */
/* $easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1); */
/* cubic-bezier(0.77, 0.2, 0.05, 1) //easeInOutQuart */
/* cubic-bezier(0.785, 0.135, 0.15, 0.86) //easeInBack */
/* cubic-bezier(0.23, 1, 0.32, 1) //easeOutQuint */
body {
  background: #f3f4f6;
}

:root{
  --easeInOutQuart: cubic-bezier(0.77, 0.2, 0.05, 1);
  --easeInBack: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
}

button {
  background: #98a0fb;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-family: 'Comfortaa';
  transition: 0.2s var(--easeOutQuint);
}

/* .card-box .card { */
/*     position:relative; */
/*     overflow:hidden; */
/* } */
 
/*     .card-box .card::before { */
/*         position:absolute; */
/*         top:0; */
/*         left:-100%; */
/*         bottom:0; */
/*         margin:auto 0; */
/*         width:100px; */
/*         height:200%; */
/*         content:""; */
/*         background:linear-gradient(to right, #fff, #fff 10%, transparent 10%, transparent 20%, #fff 20%, #fff 90%, transparent 90%, transparent 94%, #fff 94%); */
/*         opacity:0.3; */
/*         transform:translate(-50%) rotate(45deg); */
/*         transition:left 0.4s ease-in, transform 0.4s ease-in; */
/*     } */
 
/*     .card-box .card:hover::before { */
/*         left:150%; */
/*         transform:translate(50%) rotate(45deg); */
/*         transition-timing-function:ease-out, ease-out; */
/*     } */
